*.class
*gensrc/*.java
*Generated*.java
*-testclasses.xml
*.testsrc/*
*.jar.orig

/licenses/*
/data/*
/bin/ext-accelerator/*
/bin/ext-addon/*
/bin/ext-channel/*
/bin/ext-commerce/*
/bin/ext-content/*
/bin/ext-data/*
/bin/ext-platform/*
/bin/ext-platform-optional/*
/bin/ext-template/*
/bin/ext-integration/*
/bin/ext-cockpit/*
/bin/ext-backoffice/*
/bin/ext-atddtests/*
/bin/ext-atdd/*
/log/*
/bin/platform/*
/sampleconfigurations/*
/temp/*
/jalo/*
/addons/*
eclipsebin/*
addon/*


bin/*/jalo/*

*.orig
/config/local.properties
config/solr/embedded/solr.xml
/config/solr/embedded/solr.xml
